{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ film.title }}</h1>
            <h4>{{  film.description != 'N/A' ? film.description : '' }}</h4>
            <p class="col-md-8 fs-4">Director: {{ film.director ? film.director.name : 'N/A' }}</p>
            <div class="row">
                {% for genre in film.genres %}
                    <h3 class="col"><span class="badge bg-secondary">{{  genre.name }}</span></h3>
                {% endfor %}
            </div>
        </div>

        <hr/>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        OMDB API
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if omdbData == null %}
                            <h3>Could not find details for this film!</h3>
                        {% else %}
                            <div class="row">
                                <div class="col-3">
                                    <img class="film-img" src="{{ omdbData.poster }}">
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        Plot: {{ omdbData.plot }}
                                        <hr>
                                    </div>
                                    <div class="row">
                                        Director: {{ omdbData.director }}
                                        <hr>
                                    </div>
                                    <div class="row">
                                        Writer: {{ omdbData.writer }}
                                        <hr>
                                    </div>
                                    <div class="row">
                                        Rated: {{ omdbData.rated }}
                                        <hr>
                                    </div>
                                    <div class="row">
                                        Year: {{ omdbData.year }}
                                        <hr>
                                    </div>
                                    <div class="row">
                                        Runtime: {{ omdbData.runtime }}
                                        <hr>
                                    </div>
                                    <div class="row">
                                        {% set omdbGenres = omdbData.genre|split(',') %}
                                        {% for genre in omdbGenres %}
                                            {% set genre = genre|trim %}
                                        {% endfor %}
                                        <div class="col p-0">
                                            {% for genre in omdbGenres %}
                                                <button class="btn btn-secondary">{{ genre }}</button>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <p>Ratings:</p>
                                        <ul>
                                            {% for rating in omdbData.ratings %}
                                                <li>{{ rating.Source }} : {{ rating.Value }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
