{% extends 'base.html.twig' %}

{% block body %}

    <h3>Add Film:</h3>

    {{ form(form) }}

    <hr/>

    <h3>Films:</h3>
    {% for film in films  %}
        <div>
            <p>Title: {{ film.title }}</p>
            <p>Description: {{ film.description }}</p>
            <p>Director: {{ film.director ? film.director.name : '(No Director)' }}</p>
            <p>Genres:</p>
            {% for genre in film.genres %}
                <li>{{ genre.name }}</li>
            {% endfor %}
            <a href="/films/delete/{{ film.id }}">Delete</a>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}