{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h3>Update Film:</h3>

        {{ form_start(form) }}



        <div class="row mt-2">
            <div class="form-group col-6">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget( form.title, {'attr': {'class': 'form-control'}} ) }}
            </div>
            <div class="form-group col-6">
                {{ form_label(form.description) }}
                {{ form_errors(form.description)}}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row mt-2">
            <div class="form-group col-6">
                {{ form_label(form.genres)}}
                {{ form_errors(form.genres)}}
                {{ form_widget(form.genres, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group col-6">
                {{ form_label(form.director)}}
                {{ form_errors(form.director)}}
                {{ form_widget(form.director, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row mt-4">
            <div class="form-group col-6">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}